
@{
    ViewBag.Title = "AddNos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddNos</h2>
<form method="post">
    <label> Enter the number</label>
    <input type="text" name="i" value="0" />
    <br />
    <label> Enter the number</label>
    <input type="text" name="j" value="0" />
    <br />
    <input type="submit" id="add" value="Add the nos" />
    <input type="button" id="add" value="Add" />

</form>
